* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}

body {
  font-family: "Lucida Grande";
  background-color: beige;
}

.dark-mode {
  background-color: black;
  color: white;
}
nav {
  display: flex;
  background-color: beige;
  justify-content: space-around;
  padding: 20px 0;
  color: purple;
  height: 60px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between; 
}
nav ul li a {
  color: purple;
  text-decoration: none;
  font-size: 15px;
}
 nav .logo {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 4px;
  font-size: 30px;
 }

nav ul li a:hover {
  background-color: #b85cff;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  background-color: beige;
  position: relative;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: purple;
  border-radius: 10px;
}

.main {
  padding: 100px 0 100px 0;
  background-image: url(Image/giftpurple.jpg);
  background-size: cover;
  color: beige;
  text-align: center;
  height: 80px;
  background-position: -100px;

}

.main h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.section {
  padding: 30px 0;
  text-align: center;

}

.section p {
  font-size: 30px;
  color: purple;
  font-family: 'Indie Flower', cursive;
  padding-top: 20px;
  margin: 0 auto;
  width: 400px;
  height: auto;

}
.btn {
padding-top: 12px;
padding-bottom: 12px;
padding-left: 24px;
padding-right: 24px;
color: beige;
display: inline-block;
opacity: 0.8;
text-decoration: none;

}
.btn:hover {
  opacity: 1;
}
.learn {
  background-color: purple;
  padding: 15px 40px;
  cursor:pointer;
  box-shadow: 0 7px beige;
  
}
.contents {
  text-align: center;
  color: purple;
}
.contents-item {
  float: left;
  margin: auto;
  padding: 20px;
  width: 400px;
  
}
.section-title {
  border-bottom: 1px solid  #da70d6;
  font-size: 28px;
  padding-bottom: 15px;
  
 }

.contents-item p {
  font-family: 'Indie Flower', cursive;
}

.footer-wrapper h1 {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  color: purple;
  height: auto;
}
.footer-wrapper p {
  font-size: 20px;
  color: purple;
  padding-top: 20px;
  margin: 0 auto;
  width: 400px;
  height: auto;
}
.contact-form {
  padding: 20px;
}

.button {
  padding: 5px 10px;
  font-size: 13px;
  color: beige;
  background: purple;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
.button:hover {
  opacity: .7;
}

.gambar {
  width: 100px;
}
.social {
  margin-bottom: 10px;
}
.social a {
  color: purple;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
.social a:hover {
  color: purple;
}


.footer {
  background-image: url(Image/mountain.jpg);
  color: purple;
}
/* For Tablets */
@media screen and (max-width: 1000px) {
  nav ul {
    width: 50%;
  }
  }


/* For Smartphones */
@media screen and (max-width: 670px) {
 .menu-toggle {
  display: flex;
 }
 nav ul {
  display: none;
 }
 .main h1 {
  font-size: 20px
}
.button {
  text-align: center;
}
.contact-form {
  text-align: center;

}
}

